<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TemplateBeginEditable name="doctitle" -->
  <title>Lumia Bootstrap Template - Index</title>
  <!-- TemplateEndEditable -->
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1><a href="../index.html">Viajes</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="../index.html">Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="#about">Circuitos turisticos</a></li>
              <li><a href="#team">Espeña</a></li>
              <li class="drop-down">
<ul>
                  
                <li></li>
                  
                  <li></li>
                  <li></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Destinos</a></li>
          <li></li>
          <li><a href="#contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Bienvenido a <span>viajes</span></h1>
      <h2>Viaja con nosotros a toda Nicaragua</h2>
      <a href="#about" class="btn-get-started scrollto">Contactanos</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container">

        <div class="section-title">
          <h2>Paquetes turísticos</h2>
          <p>Puedes elegir el mejor paquete de tu preferencia</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"></div>
              <h4><a href="">Cuba</a></h4>
              <p>Incluye:
Boleto aéreo sin impuestos
Traslados aeropuerto – hotel – aeropuerto
3 noches de alojamiento
City tour
Asistencia de Viajes</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"></div>
              <h4>Guatemala</h4>
              <p>Incluye:
Boleto aéreo sin impuestos
Traslados aeropuerto – hotel – aeropuerto
3 noches de alojamiento
City Tour
Asistencia de Viajes</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"></div>
              <h4><a href="">República Dominicana</a></h4>
              <p>Incluye:
Boleto aéreo sin impuestos
Traslados aeropuerto – hotel – aeropuerto
3 noches de alojamiento
Plan de alimentación Todo Incluido
Asistencia de Viajes</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End What We Do Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../assets/img/Cinta-Costera-min.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Circuitos Turísticos</h3>
            <p> América</p>
<div class="row icon-boxes">
            <div class="col-md-6">
                <h4>Capitales y Países Canadienses<br>
              </h4>
                <p>Recorrido en autocar con guía de habla hispana, seguro básico de viaje, desayuno diario tipo americano y maletero (maleta por persona) en los hoteles con este servicio. Incluye traslado de llegada. Barco: por las Mil Islas; Hornblower Niagara Cruise en Cataratas del Niágara. Visita Panorámica en: Montreal, Quebec y Toronto.</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <h4>Ciudad de México</h4>
                <p>Recorrido en autocar con guía de habla hispana, seguro básico de viaje, desayuno diario tipo americano y maletero (1 maleta por persona) en los hoteles con este servicio. Incluye traslado de llegada. Barco: trajinera en Xochimilco, Ciudad de México. Visita Panorámica en: Ciudad de México. Traslado Nocturno: Plaza de Garibaldi en Ciudad de México. Traslado: Basílica de Gualalupe en Ciudad de México. 1 Almuerzo o cena incluido en: Ciudad de México.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills"><!-- TemplateBeginEditable name="EditRegion1" -->Perú es uno de los principales destinos turísticos en Sudamérica. Cuenta con una variedad de belleza natural según las diferentes zonas de su territorio, notables maravillas arqueológicas, como Machu Picchu, delicias gastronómicas, y un vasto patrimonio cultural, existe también gran variedad de actividades y lugares para ver y hacer en Perú. Está formado por 3 regiones claramente definidas: la Costa, la Sierra y la Selva. La primera, árida y desértica; la segunda, de cumbres nevadas, valles y ríos; y la tercera, la región amazónica. Son más de 30 millones de personas, de todas las razas y credo, de los cuales la tercera parte vive en la capital.
    <div class="container"> </div>
    <!-- TemplateEndEditable --></section>
    <!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container"> </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
</div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
<h4>Promociones</h4>
<p>Miami, Los Ángeles, San francisco</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <h4><a href="#">Paquetes turísticos</a></h4>
              <p>Argentina, Chile, Cuba, Evuador, Guatemala, México, Panamá, </p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <h4>Circuito turístico</h4>
              <p>América, Europa, Oriente y Asia</p>
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <div class="icon-box">
              <h4><a href="#">Paquetes de viajes</a></h4>
              <p>Elección personal</p>
            </div>
          </div>
</div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio"><br>
      <div class="container-fluid"><!-- TemplateBeginEditable name="EditRegion2" -->&nbsp;
      <akjf>&nbsp;</akjf>
      <!-- TemplateEndEditable -->
        <p>Belice es territorio británico con sabor caribeño! Belice está situado en la costa caribeña entre México y Guatemala. Pese a encontrarse en el istmo de América Central y a que formó parte del imperio Maya, este pequeño país, que logró su independencia en 1981, pertenece a la Commonwealth Británica.<br>
          El idioma oficial es el inglés y la Reina de Inglaterra es su Jefa de Estado.</p>
        <p>Su gastronomía nada tiene que ver con las tradiciones británicas. Las selvas tropicales, sus preciosas barreras de arrecifes, las majestuosas montañas y los misteriosos templos Mayas se han impuesto en los sabores: son eminentemente caribeños. Los mariscos frescos y las especias picantes son elementos indispensables en la gastronomía beliceña.</p>
        <p>Belice tiene muchos atractivos turísticos como sus países vecinos; playas paradisíacas, bosques exuberantes con una impresionante biodiversidad. Belice puede presumir de poseer algunos de los mejores fondos marinos de toda la región. Por otra parte, el buceo o el snorkel son la atracción turística más importante del lugar. Si te apasionan los sitios mayas, y los que has conocido en México o Guatemala no te han parecido suficiente, en Belice podrás disfrutar de otros lugares aún más secretos, aunque también con un acceso más difícil, lo que los aporta mayor autenticidad.</p>
      </div>
<div class="container">

      <div class="section-title">
        <h2>Destinos Populares</h2>
        <p>Consulta nuestros paquetes</p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Castillo-Neuschwanstein-Fussen-min.jpg" class="img-fluid">
              <a href="../assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="link-preview venobox" title="Preview"><em class="bx bx-plus"></em></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><em class="bx bx-link"></em></a>
            </figure>

            <div class="portfolio-info">
              <h4>Alemania</h4>
              <p>Más</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Museo-Louvre-min.jpg" class="img-fluid">
              <a href="../assets/img/portfolio/portfolio-2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><em class="bx bx-plus"></em></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><em class="bx bx-link"></em></a>
            </figure>

            <div class="portfolio-info">
              <h4>Francia</h4>
              <p>MÁS</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Calle-Caminito-min.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio/portfolio-3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4><a href="../portfolio-details.html">Argentina</a></h4>
              <p>MÁS</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Toscana-Florencia-min.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio/portfolio-4.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4>Italia</h4>
              <p>MÁS<br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Great-Blue-Hole-min.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio/portfolio-5.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4>Belice</h4>
              <p>MÁS<br>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <figure>
              <img src="../assets/img/Cinta-Costera-min.jpg" class="img-fluid" alt="">
              <a href="../assets/img/portfolio/portfolio-6.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
              <a href="../portfolio-details.html" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
            </figure>

            <div class="portfolio-info">
              <h4>Panamá</h4>
              <p>MÁS<br>
              </p>
            </div>
          </div>
        </div>
</div>

      </div>
    </section>
    
    <!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->    <!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>España</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/Madrid-min-1080x720.jpg" alt="" class="rounded">
              <h4>Madrid<br>
              </h4>
              &nbsp;
              <p> capital de España, es una ciudad cosmopolita que combina las infraestructuras más modernas y su condición de centro económico, financiero, administrativo y de servicios con un inmenso patrimonio cultural y artístico, legado de siglos de historia apasionante. </p>
              <div class="social">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/Barcelona-min.jpg" alt="" class="rounded">
              <h4>Barcelona </h4>
              <p> es una ciudad cosmopolita, abierta, donde la cohesión social es una realidad. La capital catalana se encuentra entre las mejores ciudades del mundo en las clasificaciones de calidad de vida, seguridad y equidad. Barcelona es una ciudad donde vivir bien es fácil. Una ciudad saludable, de clima mediterráneo, con zonas verdes y alimentos de proximidad. Vivir en Barcelona es garantía de una buena calidad de vida. </p>
              <div class="social"> <a href=""></a>
                <a href=""></a>
                <a href=""></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/Sevilla-min.jpg" alt="" class="rounded">
              <h4>Sevilla<br>
              </h4>
              <p> es la capital de Andalucía, y para muchos, la ciudad más bonita de España. Pasear por sus calles, contemplar la Giralda, la Catedral o la Torre del Oro es una auténtica gozada. En primavera el olor a azahar lo envuelve todo. Al igual que Granada, toda la ciudad es una auténtica delicia. Su clima hace propensa la visita en casi cualquier época del año. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga</p>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>Altamira D’ Este, Plaza San Agustín, Módulo 2. Managua, Nicaragua.<br>
                  </p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@viaje.com<br>
                  </p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+505 2223-2323<br>
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <form action="../forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Lumia</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">&copy; Copyright <strong><span>Viaje</span></strong>. All Rights Reserved </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="../js/bootstrap-4.3.1.js"></script>
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../assets/vendor/counterup/counterup.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
</body>

</html>